@font-face {
  font-family: remingtonedType;
  src: url(Remingtoned Type.ttf) format('ttf');
}
@font-face {
  font-family: redwater;
  src: url(RedwaterBanker_PERSONAL_USE.otf) format('otf');
}
  * {
  font-family: remingtonedType;
}
body {
  background-color: #33336d;
  opacity: 1;
  background-image:  linear-gradient(#a4a7c5 2.3px, transparent 2.3px), linear-gradient(to right, #a4a7c5 2.3px, #33336d 2.3px);
  background-size: 60px 60px;
}
.block1 {
  border-radius: 20px;
  margin: 40px;
  padding: 20px;
  background-color: #DFDBD5;
  filter: drop-shadow(20px 15px black);
}
.button1 {
  border: 2px solid white;
  padding: 10px 27px;
  margin: 20px;
  display: inline-block;
  font-size: 18px;
  background-color: #C1BAB1;
  text-align: center;
  color: black;
}
.button1:hover {
  animation-name: hoverbutton;
  animation-duration: 0.8s;
  position:relative;
  transform: scale(1.1);
}
@keyframes hoverbutton {
  0% {transform: scale(1)}
  25% {transform:scale(1.1); top:-5px;}
  78% {transform: scale(1.1); top:0px;}
  100% {transform: scale(1.1);}
}
