#div1 {
  background-image: url("https://i.postimg.cc/kgZy0TmF/IMG-3919.png");
  background-color: red;
  border: 5px ridge black;
  width: 200px;
  padding: 20px;
  height: 1080px;
}
body {
  background-color: #2a2f6e;
}
