@font-face {
  font-family: remingtonedType;
  src: url(Remingtoned Type.ttf);
}
@font-face {
  font-family: redwater;
  src: url(RedwaterBanker_PERSONAL_USE.otf);
}
  * {
  font-family: remingtonedType;
}
body {
  background-image: radial-gradient(#1A2048, #1B1C21);
  background-size: cover;
}
.block1 {
  border-radius: 20px;
  margin: 40px;
  padding: 20px;
  background-color: #DFDBD5;
  filter: drop-shadow(20px 15px black);
}
.button{
  border: 2px solid white;
  padding: 10px 27px;
  margin: 20px;
  display: inline-block;
  font-size: 18px;
  background-color: #C1BAB1;
  text-align: center;
}
.button:hover {
  animation-name: hoverbutton;
  animation-duration: 0.8s;
}
@keyframe hoverbutton {
  0% {}
  25% {transform:scale(1.2) rotate(18deg); top: 2px;}
  77% {transform: rotate(-8deg); top:0px;}
  100% {transform: rotate(-10deg);}
}
